faiss-cpu
groq
langchain-groq
PyPDF2
streamlit
python-dotenv
pypdf
google-cloud-aiplatform>=1.38
spacy
beautifulsoup4
selenium
webdriver-manager
requests
langchain-text-splitters
pdfplumber
sentence-transformers
torch
langchain>=1.0.0
langchain-classic
langchain-community
langchain-core
